<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>Página Principal</title>
</head>
<body id="corpo">

    <div id="menuCadastro">
        <p id="cadastroTitle">
            Acessar conteúdo
        </p>
        <form method="POST" id="formularioCadastro">
            <p id="textEmail">Email <sm style="color: red;font-size: 24px;font-weight: 900;" >*</sm>:</p>
            <input type="emailPost" name="email" id="inputEmail" placeholder="Digite seu melhor email">
        </form>
        <button type="submit" id="inputBotton">
            Acessar
        </button>
    </div>

</body>
</html>
<script src="/client.js" defer></script>